<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradPredict reset password</title>
</head>
<body>
   
   <center> 
    <div style="background-color: antiquewhite; font-size: 20px; padding: 2%; margin:auto; margin-top: 8%;">
        <h2>GradPredict Password Reset </h2>
            Forgotten your password? <br><br> Enter your Email address below, and we will email instructions for setting a new one.
            <br><br>

            <form method="POST"><input type="hidden">
            {% csrf_token %}
            {{form}}
    
    <br><br>
    <input type="submit" value="Reset my password">
</div>
</form>
</center>
    
</body>
</html>