<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradPredict reset_password_confirm</title>
    <link rel="icon" href="static/assets/img/M-khansoftwebs.com.webp">
</head>
<body>
    
   <center>
    <div style="background-color: #7cdb7b; color: #444; padding: 2%; margin-top: 15%; font-size: 20px;">
        <h2>M-khan softwebs Password reset complete</h2>
        <h4>Your password has been set. You may go ahead and log in now.
            <br><br><br>
           <a href="{% url 'index'  %}">Log In</a>
        </h4>
    </div>
</center>
    
</body>
</html>